@tailwind base;
@tailwind components;
@tailwind utilities;

input,textarea{
    @apply py-1 px-2 bg-transparent w-full text-sm text-[#777777] rounded-lg font-medium
    border border-[#777777] focus:border-[#BBB] focus:outline-none
}
textarea{
    @apply resize-none h-24
}
input::placeholder{
    @apply text-[#CCCCCC];
}
textarea::placeholder{
    @apply text-[#CCCCCC];
}

/*Modal Styles Delete and Edit*/
.ModalStyle{
    background: rgba(119, 119, 119, 0.8);
    @apply flex flex-col justify-center items-center w-full h-full z-40

}
.ModalContainer{
    @apply w-[90%] bg-white p-5 rounded-2xl
    sm:max-w-[500px]
}
.ModalDeleteTitle{
    @apply text-xl font-bold text-[#1C2129]
}
.ModalEditTitle{
    @apply text-base font-bold text-[#1C2129]
    sm:text-lg
}
.ModalBtnControl{
    @apply flex flex-col justify-end w-full mt-6 space-y-2
    sm:flex-row sm:space-x-3 sm:space-y-0
}
